/* CreatePasswordPage.css */

.create-password-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start of the container (top) */
    height: 100vh;
    padding-top: 50px; /* Adjust this value as needed to move the form up */
    background-color: #f2f2f2;
}

.create-password-form {
    padding: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust width as needed */
    width: 100%;
    text-align: center;
}

.create-password-form h2 {
    margin-bottom: 30px;
}

.create-password-form input {
    width: 80%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.create-password-form button {
    width: 85%;
    padding: 12px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-password-form button:hover {
    background-color: #45a049;
}
